        /**************CSS FOR TABS*************/
        .event-tab{
            background-color: #f1f1f1;
        }
        .event-tab .event-container {
            width: 100%;
            overflow-y: hidden;
            overflow-x: auto;
            margin-bottom: 4px;
            padding-top:16px;
            position: relative;
        }
        .event-tab .card-columns{
            column-gap:0;
            display: flex;
            width: 110%;
            border-bottom: 4px solid #E259a3;
            margin-bottom: 30px;
        }
        .event-tab .event-container .card{
            border: none;
            margin:0px;
            padding-top: 0px;
            border-radius: 0px;
            position: relative;
            cursor: pointer;
            background-color: transparent !important;
        }
        .event-tab .event-container .card .date-tab{
            font-weight: 500;
            font-size: 2rem;
            text-transform: capitalize;
        }
        .event-tab .event-container .card span{
            position: absolute;
            bottom: -25%;
            font-size: 48px;
            left: 50%;
            background-image: -webkit-linear-gradient(to bottom right, #E259a3, #F75288);
            background-image: linear-gradient(to bottom right, #E259a3, #F75288);
            color:transparent;
            -webkit-background-clip: text;
            background-clip: text;
            opacity: 0;
            transition: 0.5s ease;
            transform: translateX(-50%);
        }
        .event-tab .event-container .card span.active{
            opacity: 1;
        }
        .event-tab .event-container .card .card-body{
            padding-bottom: 0px;
        }
        .event-tab-container .event-descp{
            display:none;
            transition: 0.5s ease;
        }
        .event-tab-container .active{
            display:block;
        }
        .tns-controls button {
            border:none;
            position: absolute;
            transform: translate(-50%,-50%);
            top:50%;
            z-index: 2;
            outline: none;
        }
        .tns-controls button[data-controls="next"]{
            right:0%;
        }
        .tns-controls button[data-controls="prev"]{
            left:2%;
        }
        /***************CSS FOR Tab MEDIA QUERY*****************/

        @media only screen and (max-width:500px){
            .event-tab .event-container .card .card-body{
                padding: 0.5rem;
            }
            .event-tab .card-columns{
                width: 130%;
            }
            .event-tab .event-container .card .date-tab , .event-tab .event-container .card .day-tab{
                font-size: 0.9rem;
            }
            .event-tab .event-container .card span{
                bottom: -32%;
            }
            .tns-controls button[data-controls="prev"]{
                left:8%;
            }
        }

